<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
<appSettings>
  <add key="Connection String" value="Data Source=DIAMOND-ПК\SQLEXPRESS; 
       Initial Catalog=Organization;
       Integrated Security = SSPI;"/>
</appSettings>
</configuration>
